
.transaction-payment-list::-webkit-scrollbar {
  width: 2px;
  height: 5px;
  border-radius: 1rem;
}


.transaction-payment-list::-webkit-scrollbar-track {
  background: #fff !important;
  border-radius: 1rem;
}

.transaction-payment-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

.transaction-payment-list::-webkit-scrollbar-thumb:hover {
  background: #888;
}
