.dashoard-layout-container{
    background: linear-gradient(to bottom , var(--main-background) , var(--light-color));
  font-family: var(--font-clash);
}

.crypto-scroll-container {
    position: relative;
}

/* Hide scrollbar styles */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.crypto-scroll-container::before,
.crypto-scroll-container::after {
    opacity: 0;
    transition: opacity 0.3s ease;
}