.user-account-condition-wrapper {
  position: relative;
}
.user-account-condition-wrapper-box {
  content: "";
  height: 5vh;
  position: absolute;
  left: 50%;
  top: -81px;
  transform: translateX(-50%);
  width: 28%;
  filter: opacity(0.5);
  background: transparent;
}

.price-title span{
    font-size: 3rem;
    font-weight: 500;
}
.price-title span:nth-child(2){
    font-size: 5rem;
}

.user-account-condition-income span:first-child{
    font-size: 1.3rem;
}
.verified-label , .user-role{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.user-role span:last-child{
    font-size: 1.5rem;
}

.deposit-account-condition span:nth-child(1){
font-size: 1rem;
}
.deposit-account-condition span:nth-child(2){
font-size: 1.5rem;
}
.deposit-condition-kind{
    font-size: 1rem !important;
}