.access-container{
    box-shadow: inset 0 6px 6px rgba(241, 238, 238, 0.575);
}

.account-span ul li {
  list-style-type: disc;
  margin-left: 1rem;
}

.account-span {
  margin: 0;
  padding: 0;
}

.account-span ul {
  margin-left:1rem;
  padding: 0;
  list-style: disc;
}


